{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel utilisateur{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title text-center">Créer un nouvel utilisateur</h1>
                </div>
                <div class="card-body">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                        <div class="form-group">
                            {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.nom) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.prenom, 'Prénom', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.prenom) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.email, 'Email', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.email) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.password.first, 'Mot de passe', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.password.first) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.password.second, 'Confirmer le mot de passe', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.password.second) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}