{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title text-center">Profil</h1>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Email :</label>
                        <div class="col-sm-9">
                            <p class="form-control-plaintext">{{ user.email }}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Prénom :</label>
                        <div class="col-sm-9">
                            <p class="form-control-plaintext">{{ user.prenom }}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Nom :</label>
                        <div class="col-sm-9">
                            <p class="form-control-plaintext">{{ user.nom }}</p>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="{{ path('app_profile_edit') }}" class="btn btn-primary">Éditer Profil</a>
                        <a href="{{ path('app_profile_edit_password') }}" class="btn btn-danger">Modifier mot de passe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
