{% extends 'base.html.twig' %}

{% block title %}Détail de l'évènement{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-3">{{ event.title }}</h1>

        <section id="price" class="mb-5">
            {% if event.price %}
                <p class="card-text"><strong>Prix :</strong> {{ event.price }} €</p>
            {% else %}
                <p class="card-text"><strong>Gratuit</strong></p>
            {% endif %}
        </section>

        <section id="description" class="mb-5">
            <h5 class="mb-4"><strong>Description</strong></h5>
            <p>{{ event.description }}</p>
        </section>

        <div class="d-flex justify-content-center mb-5 row">
            <section id="start_date" class="col-6">
                <h5 class="mb-4"><strong>Dates à retenir</strong></h5>
                <p><strong>Date et heure de début :</strong> {{ event.datetimeStart|date('d/m/Y H:i') }}</p>
                <p><strong>Date et heure de fin :</strong> {{ event.datetimeEnd|date('d/m/Y H:i') }}</p>
            </section>

            <section id="participants" class="col-6">
                <h5 class="mb-4"><strong>Disponibilité</strong></h5>
                <div class="d-flex p-0 row">
                    <p class="col-6"><strong>Places totales :</strong> {{ event.participantCount }}</p>
                    <p class="col-6"><strong>Nombre de participants :</strong> {{ event.participants|length }} / {{ event.participantCount }}</p>
                    <p class="col-6"><strong>Places restantes :</strong> {{ remainingPlaces }}</p>
                    <div class="col-6 m-0 mt-1 p-0 progress">
                        <div
                            class="progress-bar"
                            role="progressbar"
                            style="width: {{ event.participants|length * 100 / event.participantCount }}%;">
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="d-flex justify-content-around row">
            {% if event.isPublic %}
                {% if event.price %}
                    <form action="/pay_event/{{ event.id }}" method="POST">
                        <button type="submit" class="btn btn-info" id="checkout-button">
                            Acheter
                            <i class="bi bi-basket"></i>
                        </button>
                    </form>
                {% endif %}

                {% if app.user %}

                    {% if event.participants.contains(app.user) %}
                        <a href="{{ path('app_event_unregister', {id: event.id}) }}" class="btn btn-warning">
                            Annuler l'inscription
                            <i class="bi bi-x-circle"></i>
                        </a>
                    {% else %}
                        <a href="{{ path('app_event_register', {id: event.id}) }}" class="btn btn-success">
                            S'inscrire
                            <i class="bi bi-check2"></i>
                        </a>
                    {% endif %}

                {% else %}
                    <div class="alert alert-info">
                        Pour vous inscrire à cet évènement, veuillez vous connecter.
                    </div>
                {% endif %}

            {% else %}
                <div class="alert alert-warning">
                    Cet évènement est privé.
                </div>
            {% endif %}

            {% if event.creator == app.user %}
                <a href="{{ path('app_event_edit', { id: event.id }) }}" class="btn btn-primary">
                    Modifier
                    <i class="bi bi-pencil-square"></i>
                </a>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                    Supprimer
                    <i class="bi bi-trash"></i>
                </button>

                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Confirmer la suppression</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Êtes-vous sûr de vouloir supprimer cet évènement ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                <form action="{{ path('app_event_delete', { id: event.id }) }}" method="post" style="display:inline;">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-danger">Supprimer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <style>
        body {
            color: #434748;
        }
        p strong {
            font-weight: 500;
        }
    </style>
{% endblock %}
