{% extends 'base.html.twig' %}

{% block title %}Liste des événements{% endblock %}

{% block body %}
<div>
    {% if app.request.pathInfo == '/events' %}
        {% include 'filters.html.twig' %}
    {% endif %}
    <ul class="list-group">
        {% for event in events %}
            {% if event.isPublic or is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('detail_event', {'id': event.id}) }}" class="text-dark">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <p class="text-dark">{{ event.title }}</p>
                            <p class="text-dark">{{ event.description }}</p>
                        </div>
                        <div class="text-right">
                            {% if event.participantCount == event.participants|length %}
                                <span class="badge badge-danger badge-pill ml-2">Complet</span>
                            {% else %}
                                <span class="badge badge-primary badge-pill ml-2">{{ event.remainingPlaces }} places restantes</span>
                            {% endif %}
                            <span class="badge badge-secondary badge-pill ml-2">Total: {{ event.participantCount | default('non indiqué') }}</span>
                        </div>
                    </li>
                </a>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}
